@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");

p,
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 200px;
}
.div-componenti {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.title {
  background-color: #5d3cb2;
  width: 100%;
  overflow: hidden;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  box-shadow: 0px 5px 5px #9f9f9f;
}
